:root {
    --theme: #788cde;
    --background: #1d1d1d;
    --highlight: #363636;
    --highlight-unfocus: #292929;
    --highlight-focus: #3b3b3b;
    --text: #ffffff;

    --task-spacing: 5px;
    --border-rad: 5px;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

#task_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#input_bar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  height: 47px;
  gap: 10px;
  margin-top: var(--task-spacing);
  margin-bottom: var(--task-spacing);
}

#input_bar * {
  margin-top: var(--task-spacing);
  margin-bottom: var(--task-spacing);
}

#input_bar input[type="button"] {
  width: 100px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--highlight);
    /*border: 2px solid #788cde;*/
    border-radius: var(--border-rad);

    margin-top: var(--task-spacing);
    margin-bottom: var(--task-spacing);
    padding: 10px;
}

.task * {
    margin: 5px;
}

h1 {
  color: var(--theme);
}

p {
    padding: 0px;
    margin: 0px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.55em;
  height: 0.55em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;

}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#input_bar input {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  background-color: var(--highlight-unfocus);
  border: none;
  border-radius: var(--border-rad);

  height: 49px;
  box-sizing: border-box;
  padding: 10px;
  color: var(--text);
}

#task_name_input {
  width: 100%;
}

#task_name_input:focus {
  outline: none;
  background-color: var(--highlight-focus);
}

#plus_button {
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
  border-radius: var(--border-rad);
  background-color: var(--theme);
}

#plus {
  margin: 0;
  height: inherit;
  filter: invert(100%);
}

/*input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}*/

/*input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}*/