body {
    background-color: #1d1d1d;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #363636;
    border: 2px solid #788cde;
    border-radius: 5px;

    margin: 5px;
    padding: 5px;
    
}

.task * {
    margin: 5px;
}

p {
    padding: 0px;
    margin: 0px;
}